<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ChickNorris</display-name>
  <welcome-file-list>
    <welcome-file>Home.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>party-form</display-name>
    <servlet-name>party-form</servlet-name>
    <jsp-file>/WEB-INF/JSP/party-form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>party-form</servlet-name>
    <url-pattern>/party-form.htm</url-pattern>
  </servlet-mapping>
</web-app>